* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  --background-grey: #1e1e1e;
  --item-grey: #252525;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  width: 100%;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  border: none;
  font-family: sans-serif;
  font-weight: 400;
}

input {
  margin: 0;
  padding: 0;
}

.site {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  margin: 0 32px;
}

.scrollContainer {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-color: #111111 #1e1e1e;
}